@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.2);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    background-image: url(../../../img/Link.webp);;
    font-family:'amatic sc', sans-serif;
  }

  .card-text {
    color: rgb(255,255,255);
    width: 100%;
    font-family:'amatic sc', sans-serif;
    letter-spacing: 1px;
  }

  .card-text a {
    font-family:'amatic sc', sans-serif;
  }  
  
  .card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
  }
  .card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
  }
  .card-wrapper a {
    color: white;
    font-size: 0;
    visibility: hidden; 
     opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
  }
  .card:hover .card-wrapper h2 {
    font-size: 3rem;
  }
  .card:hover .card-wrapper a {
    visibility: visible;
    opacity: 1;
    font-size: 1rem;
    z-index: 1;
  }
  .card:hover .card-wrapper a:hover {
    text-decoration: underline;
  }
  .card:hover > .card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
  }
