* {
  font-family: "Verdana", sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0;
  color: #fff;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'amatic sc', sans-serif;
  font-size: 50px;
  position: relative;
}

body {
  margin: 0;
  background: linear-gradient(-45deg, #000805, #031866, #031866, #000805);
  height: 290px;
  width: 100%;
}

.conteudo {
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
}

.carrousel {
  position: relative;
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card:nth-child(1) {
  background-image: url("./portfolio/blogNextJS.jpg");
  background-position: center top;
  background-size: 100% auto;
}

.card:nth-child(2) {
  background-image: url("./portfolio/Calculadora.JPG");
  background-position: center top;
  background-size: 100% auto;
}

.card:nth-child(3) {
  background-image: url("./portfolio/MemoryGame.JPG");
  background-position: center top;
  background-size: 100% auto;
}

.card:nth-child(4) {
  background-image: url("./portfolio/TicTacToe.JPG");
  background-position: center top;
  background-size: 100% auto;
}

.card:nth-child(5) {
  background-image: url("./portfolio/Contador.JPG");
  background-position: center top;
  background-size: 100% auto;
}

.card:nth-child(6) {
  background-image: url("./portfolio/ToDoList.JPG");
  background-position: center top;
  background-size: 100% auto;
}
