<body>
  <div class="titulo">
    <h1>Veja alguns dos meus projetos</h1>
    <button (click)="ScrolltoLeft()" class="ButtonLeft"> < </button>
    <button (click)="ScrolltoRight()" class="ButtonRight"> > </button>
  </div>
  <div class="conteudo">
      <div class="carrousel" id="carrousel">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
      </div>
  </div>
</body>
