* {
  font-family: "Verdana", sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0;
  color: #fff;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'amatic sc', sans-serif;
  font-size: 50px;
  position: relative;
  width: 100%;
}

body {
  margin: 0;
  background: linear-gradient(-45deg, #000805, #031866, #031866, #000805);
  height: 290px;
  width: 100%;
}

.ButtonLeft{
  position: relative;
  top:0;
  left: -73%;
  height: 80px;
  width: 30px;
  color: white;
  background-color: transparent;
}

.ButtonLeft:active{
  scale: 0.9;
}
.ButtonRight:active{
  scale: 0.9;
}

.ButtonRight{
  position: relative;
  top:0;
  right:27%;
  height: 80px;
  width: 30px;
  color: white;
  background-color: transparent;
}

.ButtonLeft:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.ButtonRight:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.titulo{
  width: 100%;
  justify-content: center;
  display: flex;
}


.conteudo {
  position: relative;
  top:0;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
}

.carrousel {
  position: relative;
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: start;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.01;
}

.card:nth-child(1) {
  background-image: url("./portfolio/blogNextJS.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card:nth-child(2) {
  background-image: url("./portfolio/Calculadora.JPG");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card:nth-child(3) {
  background-image: url("./portfolio/MemoryGame.JPG");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card:nth-child(4) {
  background-image: url("./portfolio/TicTacToe.JPG");
  background-position: center top;
  background-size: 104% auto;
  background-repeat: no-repeat;
}

.card:nth-child(5) {
  background-image: url("./portfolio/Contador.JPG");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card:nth-child(6) {
  background-image: url("./portfolio/ToDoList.JPG");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card:nth-child(7) {
  background-image: url("./portfolio/BuzzfeedQuiz.JPG");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
