<!----------------------------- CARD GITHUB ----------------------------->
<div class="card-container-right">
  <div class="card-text">
    {{ cardText1 }}
  </div>

<cardGithub></cardGithub>

  </div>

  <!----------------------------- CARD LINKEDIN ----------------------------->

<div class="card-container-left">
  <div class="card-text2">
    {{ cardText2 }}
  </div>

  <cardLinkedin></cardLinkedin>

</div>

<!----------------------------- CARD INSTAGRAM ----------------------------->
<div class="card-container-right">
  <div class="card-text3">
    {{ cardText3 }}
  </div>

  <cardInstagram></cardInstagram>

</div>
