<!----------------------------- CARD GITHUB ----------------------------->
<div class="card-container-right">
  <div class="card-text">
    Olá, meu nome é Pedro Carneiro, nasci em Recife no ano de 1998, sou
    desenvolvedor Front End, com noções de Back End. Gosto muito de sair, de
    jogar videogame, de ir para a academia, de programação, e estou sempre em
    busca de novos desafios, tentando sempre me aprimorar pessoalmente e
    profissionalmente.
  </div>

<cardGithub></cardGithub>

  </div>

  <!----------------------------- CARD LINKEDIN ----------------------------->

<div class="card-container-left">
  <div class="card-text2">
    Iniciei a minha trajetória profissional na área de engenharia civil, e cheguei a estagiar em obras de construção e reforma, porém, acabei me identificando mais com a programação e com a área de tecnologia, então decidi me tornar programador, buscando sempre me atualizar e aprender o máximo possível sobre esta brilhante área!
  </div>

  <cardLinkedin></cardLinkedin>

</div>

<!----------------------------- CARD INSTAGRAM ----------------------------->
<div class="card-container-right">
  <div class="card-text3">
    Sou um rapaz dedicado, resiliente, gosto de trabalhar em equipe, gosto de conhecer pessoas novas, culturas novas, e estou sempre à procura de novos desafios!
  </div>

  <cardInstagram></cardInstagram>

</div>
