@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

p {
  font-family: Lato;
}

container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}
app-carousel-menu{
  width: 100%;
  display: flex;
}


