<meta content="width=device-width, initial-scale=1" name="viewport" />
<div class="header">
  <app-menu></app-menu>
  <h1>Pedro Carneiro</h1>
  <br>
  <h2>Front-end Developer</h2>
  <br>
  <div class="social-media">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/pedro-carneiro-05192216a/"
      >Linkedin</a
    >
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/pedrocarneiro11"
      >Github</a
    >
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/pedro_carneiro_/"
      >Instagram</a
    >
  </div>
</div>

