<div class="header">
  <div class="checkbox-container">
    <div class="checkbox-wrapper">
      <input type="checkbox" id="toggle" />
      <label class="checkbox" for="toggle">
        <div class="trace"></div>
        <div class="trace"></div>
        <div class="trace"></div>
      </label>
      <div class="menu"></div>
      <nav class="menu-items">
        <ul>
          <li>
            <a id="home" href="index.html">Home</a>
          </li>
          <li>
            <a id="sobre" href="#">Sobre</a>
          </li>
          <li>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/pedrocarneiro11"
              >Projetos</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <h1>Pedro Carneiro</h1>
  <br>
  <h2>Front-end Developer</h2>
  <br>
  <div class="social-media">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/pedro-carneiro-05192216a/"
      >Linkedin</a
    >
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/pedrocarneiro11"
      >Github</a
    >
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/pedro_carneiro_/"
      >Instagram</a
    >
  </div>
</div>

