@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  color: rgb(225, 226, 230);
  font-family: 'amatic sc', sans-serif;
}

/* Header */

.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #000805, #031866, #002665, #005c99);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}
.social-media {
  margin-top: 0;
  display: flex;
}
.social-media a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid white;
  background: transparent;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}
.social-media a:hover {
  color: #00008b;
  background-color: #ffffff;
}
@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 0% 90%;
  }
}

/* Menu Hamburguer */

.checkbox-container { /* LEVAR */
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox { /* LEVAR */
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}
.checkbox .trace { /* LEVAR */
  background-color: white;
  width: 50px;
  height: 2px;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) { /* LEVAR */
  top: 26px;
  transform: rotate(0);
}
.checkbox .trace:nth-child(2) { /* LEVAR */
  top: 46px;
  transform: rotate(0);
}
.checkbox .trace:nth-child(3) { /* LEVAR */
  top: 66px;
  transform: rotate(0);
}

#toggle { /* LEVAR */
  display: none;
}

/* Menu */

.menu { /* LEVAR */
  position: absolute;
  top: 28px;
  right: 30px;
  background: transparent;
  height: 300%;
  width: 0px;
  background-color: white;
  border-radius: 0;
  box-shadow: 0px 0px 0px 0px white;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}
.menu-items { /* LEVAR */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0;
}
.menu-items ul { /* LEVAR */
  list-style-type: none;
}
.menu-items ul li a { /* LEVAR */
  color: #085071;
  margin: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* Animacao Menu */

#toggle:checked + .checkbox .trace:nth-child(1) { /* LEVAR */
  background-color: #085071;
  transform: rotate(45deg);
  top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) { /* LEVAR */
  transform: translateX(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3) { /* LEVAR */
  background-color: #085071;
  transform: rotate(-45deg);
  top: 48px;
}

#toggle:checked + .checkbox { /* LEVAR */
  background-color: white;
}
#toggle:checked ~ .menu { /* LEVAR */
  box-shadow: 0px 0px 0px 100vmax white;
  z-index: 1;
}
#toggle:checked ~ .menu-items { /* LEVAR */
  visibility: visible;
  opacity: 1;
}
