/* CSS global */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'amatic sc', sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}
