<!-- LEVAR-->
<div class="checkbox-container">
  <div class="checkbox-wrapper">
    <input type="checkbox" id="toggle" />
    <label class="checkbox" for="toggle">
      <div class="trace"></div>
      <div class="trace"></div>
      <div class="trace"></div>
    </label>
    <div class="menu"></div>
    <nav class="menu-items">
      <ul>
        <li>
          <a id="home" href="index.html">Home</a>
        </li>
        <li>
          <a id="sobre" href="#">Sobre</a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/pedrocarneiro11"
            >Projetos</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- LEVAR-->
